@import 'base/base'

// h6 + p {
//     text-align: justify;
//     padding-right: 21px;
//     margin-top: 3px;
// }

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron-options a {
  margin-right: 16px;
  margin-bottom: 8px;
}

.navbar-form .form-group {
  margin-right: 4px;
}

.publicity h2 + p {
  text-align: justify;
}
